.ui-datepicker {
  width: rem(363px);
  background-color: #fff;
  border-radius: rem(15px);
  box-shadow: rem(0px) rem(10px) rem(25px) rgba(49, 39, 22, 0.15);
  padding: rem(16px);
  *{
    box-sizing: border-box;
    font-family: $base-font;
  }
}

.ui-datepicker-header {
  height: rem(24px);
  position: relative;
  margin-bottom: rem(10px);
}

.ui-datepicker-prev {
  position: absolute;
  left: 0;
  top: 0;
  width: rem(24px);
  height: rem(24px);
  border-radius: rem(4px);
  background-color: #2A73BD;
  text-indent: rem(-9999px);
  cursor: pointer;

  &:before {
    content: '';
    background-image: url('../images/arrow-white-left.svg');
    background-size: contain;
    width: rem(7px);
    height: rem(9px);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ui-datepicker-next {
  position: absolute;
  right: 0;
  top: 0;
  width: rem(24px);
  height: rem(24px);
  border-radius: rem(4px);
  background-color: #2A73BD;
  text-indent: rem(-9999px);
  cursor: pointer;

  &:before {
    content: '';
    background-image: url('../images/arrow-white-right.svg');
    background-size: contain;
    width: rem(7px);
    height: rem(9px);
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ui-datepicker-title {
  font-size: rem(18px);
  color: #222325;
  text-align: center;
  padding-left: rem(32px);
  padding-right: rem(32px);
  line-height: rem(24px);
}

.ui-datepicker-calendar {
  width: 100%;
  border-spacing: rem(4px);
  border-collapse: separate;

  tr {}

  th {
    font-size: rem(15px);
    color: #C4C4C4;
    padding: rem(6px);
  }

  td {

    a {
      text-decoration: none;
      display: block;
      width: 100%;
      padding: rem(4px) rem(6px);
      height: rem(40px);
      color: #484C51;
      font-size: rem(19px);
      text-align: right;
      background-color: #EAF1F9;
      border-radius: rem(4px);
    }
    &.ui-datepicker-today a{
      border: rem(2px) solid #2A73BD;
      background-color: #fff;
    }
    &.ui-datepicker-current-day a{
      background: #2A73BD;
      color: #fff;
    }
  }
}